@font-face {
    font-family: Hanken Grotesk;
    src: url('./font/HankenGrotesk-VariableFont_wght.ttf');
}

.body{
    font-family: Hanken Grotesk;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.background{
    width: 736px;
    height: 512px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 30px;
    box-shadow: 10px 10px 50px rgb(221, 222, 235);
}

.result-box{
    height: 512px;
    width: 368px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    background: linear-gradient(180deg, hsla(256, 100%, 63%, 1) 35%, hsla(241, 79%, 55%, 1) 100%);
}

.summary-box{
    height: 512px;
    width: 368px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
}

.result{
    color: hsl(252, 100%, 87%);
    padding: 5%;
    font-size: 20px;
    font-weight: bold;
}

.circle{
    background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 160px;
    width: 160px;
}

.obtn-marks{
    color: hsl(0, 0%, 100%);
    font-size: 300%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.total-marks{
    color: hsl(225, 51%, 88%);
    font-size: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.great{
    color: hsl(0, 0%, 100%);
    padding-top: 5%;
    font-size: 175%;
    font-weight: bold;
}

.btm-txt{
    color: hsl(252, 100%, 87%);
    text-align: center;
    padding: 5%;
    padding-bottom: 10%;
}

.summary{
    align-self: flex-start;
    margin-top: 10px;
    margin-left: 30px;
    padding: 5%;
    font-weight: bold;
    font-size: larger;
}

.reaction{
    display: flex;
    align-items: center;
    width: 70%;
    color: #FF5555;
    font-weight: 650;
}

.memory{
    display: flex;
    align-items: center;
    width: 70%;
    color: #FFB21E;
    font-weight: 650;
}

.verbal{
    display: flex;
    align-items: center;
    width: 70%;
    color: #00BB8F;
    font-weight: 650;
}

.visual{
    display: flex;
    align-items: center;
    width: 70%;
    color: #1629D7;
    font-weight: 650;
}

.imgs{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
}

.marks{
    display: flex;
    align-items: center;
    width: 30%;
    color: hsl(233, 14%, 75%);
    font-weight: 650;
}

span{
    color: black;
    padding: 4px;
}

.reaction-box{
    display: flex;
    background: #FFF6F5;
    border-radius: 12px;
    width: 288px;
    height: 56px;
}

.memory-box{
    display: flex;
    background: #FFFBF2;
    border-radius: 12px;
    width: 288px;
    height: 56px;
}

.verbal-box{
    display: flex;
    background: #F2FBFA;
    border-radius: 12px;
    width: 288px;
    height: 56px;
}

.visual-box{
    display: flex;
    background: #F3F3FD;
    border-radius: 12px;
    width: 288px;
    height: 56px;
}

.button{
    border-radius: 128px;
    width: 275px;
    height: 48px;
    background: #303B59;
    color: hsl(0, 0%, 100%);
    border: none;
    font-size: 15px;
    margin-bottom: 30px;
    margin-top: 20px;
}

button:hover{
    background: linear-gradient(to top,hsl(241, 81%, 54%), hsl(252,100%,67%));
}